@import url(https://fonts.googleapis.com/css2?family=Inter:ital,wght@1,100..900&display=swap);
:root{
    --bg:#F5EFE6;
    --green:#5A7554;
    --black:#030303;
    --white:#FFFFFF;
    --br:#A8B5A2;

    --inter:Inter;
    --nunito:Nunito;
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   display: flex;
    width: 100%;
   height: 70vh;
  
}
.container {
   width: 100%;
   height: 100%;
   position: relative;
   border: 2px solid black;
}
.section-4 {
   display: flex;
   align-items: center;
   width: 100%;
   height: 100vh;
   flex-direction: column;
   background-color: var(--bg); 
   padding-left: 5rem;
   gap: 3rem;
   position: relative;
   
  
}
.section-4 .find-membership {
   font-family: var(--nunito);
   font-weight: 700;
   font-size: 36px;
   line-height: 100%;
   letter-spacing: 0%;
   display: flex;
   justify-content: center;
   margin-top: 2.5rem;
}
.section-4 .box-8 {
   display: flex;
   width: 1084;
   height: 410;
   gap: 62px;
   margin-right: 3rem;
   z-index: 1;
  
}
.section-4 .box-9 {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 320;
   height: 410;
   gap: 24px;
   padding: 24px;
   border-radius: 10px;
   border-width: 0.8px;
   border: 2px solid var(--green);
   background-color: var(--white);
   z-index: 2;
}
.section-4 .box-9 .find-monthly {
   font-family: var(--nunito);
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0%;
}
.section-4 .box-9 .dollar {
   font-family: var(--nunito);
   font-weight: 600;
   font-size: 32px;
   line-height: 100%;
   letter-spacing: 0%;
   position: super;

}
.section-4 .box-9 h2 {
   font-family: var(--nunito);
   font-weight: 600;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
}
.section-4 .box-9 .find-for {
   font-family: Nunito;
   font-weight: 400;
   font-size: 16px;
   line-height: 100%;
   letter-spacing: 0%;

}
.section-4 .box-9 p {
   font-family: var(--nunito);
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   letter-spacing: 0%;
}
.section-4 .box-9 button {
   width: 188;
   height: 48;
   gap: 10px;
   border-radius: 24px;
   padding: 8px 16px 8px 16px;
   color: var(--white);
   background-color: var(--green);
   border: none;
   font-family: Inter;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   letter-spacing: 0%;
}
.section-4 figure .flower {
   Width: 400;
   Height:400;
   border: 2px solid rgb(13, 12, 12);
}
.section-4 img {
   position: absolute;
   top: -125px;
   right: -35px;
   Width: 300px;
   Height: 300px;
   border: 2px solid red;
   
}
/* .section-5 {
   width: 80%;
   height: 253px;
   margin-top: 5rem;
   display:flex;
   position: relative;
   background: linear-gradient(90deg, #5A7554 6.67%, #FFFFFF 91.25%),
   linear-gradient(0deg, rgba(90, 117, 84, 0.05), rgba(90, 117, 84, 0.05));

}
img {
   height: 249px;
   width: 213px;
   position: absolute;
   right: -4rem;
   padding-left: 5rem;
}
   
   
.box-10 {
   width: 80%;
   height: 70vh;
   display: flex;
   z-index: 999;
   justify-content: center;
   align-items: center;
   gap: 4rem;
   margin-left: 10rem;
   position: absolute;
  
   
}
.box-11 {
   width: 162px;
   height: 80px;
   gap: 10px;
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 12rem;
}
.box-11 .number {
   width: 65px;
   height: 49px;
   font-family: Nunito;
   font-weight: 700;
   font-size: 36px;
   line-height: 100%;
   letter-spacing: 0%;

}
.box-11 #reset {
   margin-right: 35px;
}
.box-11 .comment {
   width: 162px;
   height: 27px;
   font-family: Nunito;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0%;

} */